body {
  margin: 0;
  font-family: $font-secondary;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  height: 100%;
  color: $default-white;
  background-image: url("/source/img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p {
  margin: 0;
}
