$default-white: rgba(255, 255, 255, 1);
$white60: rgba(255, 255, 255, 0.6);
$white40: rgba(255, 255, 255, 0.4);
$white20: rgba(255, 255, 255, 0.2);
$default-black: rgba(0, 0, 0, 1);
$blue10: rgba(10, 34, 64, 0.1);
$blue100: rgba(10, 34, 64, 1);
$primary1: rgba(249, 17, 85, 1);
$primary2: rgba(255, 75, 119, 1);
$primary3: rgba(216, 0, 63, 1);
$secondary: rgba(60, 62, 67, 1);
$accent: rgba(255, 118, 71, 1);

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1280px;

$font-primary: "Roboto", sans-serif;
$font-secondary: "Open Sans", sans-serif;
